@charset "utf-8";
	.NormalCharacterStyle6
{
	font-family : Jost;
	font-size : 93px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle2
{
	font-family : Jost;
	font-size : 93px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle5
{
	font-family : Jost;
	font-size : 93px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle4
{
	font-family : Jost;
	font-size : 93px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle3
{
	font-family : Jost;
	font-size : 93px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle
{
	font-family : Jost;
	font-size : 93px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle1
{
	font-family : Jost;
	font-size : 93px;
	color : #000000;
	color : rgb(0, 0, 0);
}
